@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-rose-300 text-rose-950;
}

main {
  @apply flex w-full flex-col items-center pb-6 pt-24 font-rubik;
}

@layer components {
  .auth-input {
    @apply mb-1 w-full rounded-md bg-yellow-100 p-2 font-rubik text-sm placeholder:text-rose-700 focus:outline-none focus:ring focus:ring-rose-600;
  }
  .auth-span {
    @apply pl-2 text-xs font-semibold text-rose-800;
  }
}
